Repository janosh/matbench-discovery, pull requests merged in 2023-11, with the labels that each got.

#59 Update figures to latest MACE checkpoint
  data/wbm/compare_cse_vs_ce_mp_2020_corrections.py
  matbench_discovery/preds.py
  models/bowsr/test_bowsr.py
  models/chgnet/join_chgnet_results.py
  models/chgnet/metadata.yml
  models/chgnet/test_chgnet.py
  models/m3gnet/join_m3gnet_results.py
  models/m3gnet/test_m3gnet.py
  models/mace/2023-11-02-mace-wbm-IS2RE-FIRE.csv.gz
  models/mace/join_mace_results.py
  models/mace/metadata.yml
  models/mace/test_mace.py
  scripts/compute_struct_fingerprints.py
  scripts/model_figs/cumulative_metrics.py
  scripts/model_figs/scatter_hull_dist_models.py
  site/src/figs/bar-element-counts-mp+wbm-normalized=False.svelte
  site/src/figs/box-hull-dist-errors.svelte
  site/src/figs/cumulative-mae.svelte
  site/src/figs/cumulative-precision-recall.svelte
  site/src/figs/each-error-vs-least-prevalent-element-in-struct.svelte
  site/src/figs/each-scatter-models-5x2.svelte
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table.svelte
  site/src/figs/model-run-times-bar.svelte
  site/src/figs/prc-models-4x3.svelte
  site/src/figs/roc-models-all-in-one.svelte
  site/src/figs/rolling-mae-vs-hull-dist-models.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-actinides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-all.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-borides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-carbides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-chalcogenides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-halides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-hydrides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-lanthanides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-nitrides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-oxides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-oxynitrides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-pnictides.svelte
  site/src/figs/scatter-largest-errors-models-mean-vs-true-hull-dist-sulfides.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/index.ts
  site/src/routes/models/model-stats-10k.json
  site/src/routes/models/model-stats.json
  site/src/routes/models/per-element-each-errors.json
Labels: new model, site

#60 Make distinction between training set `n_structures` and `n_materials` for models trained on DFT trajectories
  matbench_discovery/plots.py
  models/alignn/metadata.yml
  models/alignn_ff/metadata_aborted.yml
  models/bowsr/metadata.yml
  models/cgcnn/metadata.yml
  models/chgnet/metadata.yml
  models/m3gnet/metadata.yml
  models/mace/metadata.yml
  models/megnet/metadata.yml
  models/voronoi/metadata.yml
  models/wrenformer/metadata.yml
  readme.md
  scripts/model_figs/make_metrics_tables.py
  site/package.json
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table.svelte
  site/src/lib/AuthorBrief.svelte
  site/src/lib/CaptionedMetricsTable.svelte
  site/src/lib/Footer.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/index.ts
  site/src/routes/+page.svelte
  site/src/routes/contribute/+page.md
  site/src/routes/models/+page.svelte
  tests/test_models.py
Labels: enhancement, analysis

#61 Fix missing stress unit conversion (kBar->eV/A^3) in `json_to_extxyz.py`
  models/mace/json_to_extxyz.py
  models/mace/train_mace.py
Labels: data, fix

#63 add `task_id`, `calc_id`, `ionic_step` metadata to atoms.info
  models/mace/json_to_extxyz.py
Labels: enhancement, data

#64 More extensive MP/WBM data analysis for site and SI
  .gitignore
  citation.cff
  data/figshare/1.0.0.json
  data/mp/build_phase_diagram.py
  data/mp/eda_mp_trj.py
  data/wbm/eda_wbm.py
  data/wbm/fetch_process_wbm_dataset.py
  data/wbm/readme.md
  matbench_discovery/__init__.py
  matbench_discovery/plots.py
  models/cgcnn/test_cgcnn.py
  models/mace/join_mace_results.py
  models/mace/json_to_extxyz.py
  models/mace/metadata.yml
  scripts/analyze_model_failure_cases.py
  scripts/compute_struct_fingerprints.py
  scripts/model_figs/per_element_errors.py
  scripts/project_compositions.py
  scripts/upload_to_figshare.py
  site/src/figs/mp-trj-e-form-hist.svelte
  site/src/figs/mp-trj-forces-hist.svelte
  site/src/figs/mp-trj-magmoms-hist.svelte
  site/src/figs/mp-trj-stresses-hist.svelte
  site/src/lib/PtableHeatmap.svelte
  site/src/lib/index.ts
  site/src/routes/data/+page.svelte
  site/src/routes/data/mp-element-counts-by-composition.json
  site/src/routes/data/mp-element-counts-by-occurrence.json
  site/src/routes/data/mp-element-counts-composition.json
  site/src/routes/data/mp-trj-element-counts-by-composition.json
  site/src/routes/data/mp-trj-element-counts-by-occurrence.json
  site/src/routes/data/mptrj/+page.svelte
  site/src/routes/data/mptrj/MPtrjElemCountsPtable.svelte
  site/src/routes/data/mptrj/readme.md
  site/src/routes/data/tmi/+page.svelte
  site/src/routes/data/wbm-element-counts-by-composition.json
  site/src/routes/data/wbm-element-counts-by-occurrence.json
  site/src/routes/data/wbm-element-counts-composition.json
  site/src/routes/models/element-errors-ptable-heatmap.svelte
  site/src/routes/preprint/+layout.svelte
Labels: data, preprint, site

#65 UMAP visualization of MP and WBM data
  .gitignore
  data/wbm/umap/2d-umap-projections.csv.bz2
  pyproject.toml
  scripts/wbm_umap_projection.py
Labels: data, preprint, analysis
