Repository janosh/matbench-discovery, pull requests merged in 2024-09, with the labels that each got.

#132 Allow multiple training sets per model in YAML metadata
  .github/workflows/test-scripts.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  data/training-sets.yml
  data/wbm/compare_cse_vs_ce_mp_2020_corrections.py
  matbench_discovery/plots.py
  matbench_discovery/preds.py
  models/alignn/alignn.yml
  models/bowsr/bowsr.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/cgcnn/plot_structure_perturbation.py
  models/gnome/gnome.yml
  models/m3gnet/m3gnet.yml
  models/mace/train_mace.py
  models/megnet/megnet.yml
  models/voronoi_rf/voronoi_rf.yml
  models/wrenformer/wrenformer.yml
  pyproject.toml
  scripts/model_figs/metrics_tables.py
  scripts/model_figs/rolling_mae_vs_hull_dist_wbm_batches.py
  site/src/app.d.ts
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/lib/types.ts
  site/src/routes/models/[slug]/+page.svelte
  tests/model-schema.yml
  tests/test_models.py
Labels: enhancement, site

#133 Orb models
  changelog.md
  data/training-sets.yml
  matbench_discovery/preds.py
  models/alignn_ff/alignn-ff.yml
  models/chgnet/chgnet.yml
  models/mace/mace.yml
  models/mace/readme.md
  models/orb/join_preds.py
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/orb/orbff-mptrj-only-v1-20240827.csv.gz
  models/orb/orbff-v1-20240827.csv.gz
  models/orb/readme.md
  models/orb/test_orb.py
  models/sevennet/join_results.py
  models/sevennet/train_sevennet/train_sevennet.sh
  site/src/figs/box-hull-dist-errors.svelte
  site/src/figs/cumulative-mae.svelte
  site/src/figs/cumulative-precision-recall.svelte
  site/src/figs/hist-clf-pred-hull-dist-models-8x2.svelte
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/figs/roc-models.svelte
  site/src/figs/rolling-mae-vs-hull-dist-models.svelte
  site/src/lib/model-schema.d.ts
  site/src/lib/model-stats-10k.json
  site/src/lib/model-stats-uniq-protos.json
  site/src/lib/model-stats.json
  site/src/lib/types.ts
  site/src/routes/data/+page.svelte
  site/src/routes/models/[slug]/+page.svelte
  site/src/routes/preprint/+page.md
  tests/model-schema.yml
  tests/test_models.py
Labels: new model

#130 Restore MPTrj EDA to working order
  data/mp/eda_mp_trj.py
  data/pmg_structs_to_ase_extxyz.py
  matbench_discovery/data.py
  site/src/figs/mp-trj-e-form-hist.svelte
  site/src/routes/data/mp-trj-element-counts-by-composition.json
  site/src/routes/data/mp-trj-element-counts-by-occurrence.json
  tests/test_data.py
Labels: reproducibility, housekeeping, fix

#135 Add metrics table download buttons
  data/mp/get_mp_traj.py
  models/orb/orb.yml
  pyproject.toml
  readme.md
  scripts/model_figs/metrics_tables.py
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/lib/CaptionedMetricsTable.svelte
  site/src/routes/+page.svelte
  site/src/routes/models/+page.svelte
  site/static/figs/metrics-table-first-10k-only-compliant.pdf
  site/static/figs/metrics-table-first-10k-only-compliant.svg
  site/static/figs/metrics-table-first-10k.pdf
  site/static/figs/metrics-table-first-10k.svg
  site/static/figs/metrics-table-only-compliant.pdf
  site/static/figs/metrics-table-only-compliant.svg
  site/static/figs/metrics-table-uniq-protos-only-compliant.pdf
  site/static/figs/metrics-table-uniq-protos-only-compliant.svg
  site/static/figs/metrics-table-uniq-protos.pdf
  site/static/figs/metrics-table-uniq-protos.svg
  site/static/figs/metrics-table.pdf
  site/static/figs/metrics-table.svg
Labels: enhancement, site, ux

#136 Show single-model energy parity plots on model detail pages
  matbench_discovery/enums.py
  matbench_discovery/preds.py
  models/voronoi_rf/voronoi-rf.yml
  scripts/model_figs/metrics_tables.py
  scripts/model_figs/parity_energy.py
  scripts/model_figs/parity_energy_models.py
  site/src/figs/energy-parity/e-form-parity-alignn.svelte
  site/src/figs/energy-parity/e-form-parity-bowsr.svelte
  site/src/figs/energy-parity/e-form-parity-cgcnn+p.svelte
  site/src/figs/energy-parity/e-form-parity-cgcnn.svelte
  site/src/figs/energy-parity/e-form-parity-chgnet.svelte
  site/src/figs/energy-parity/e-form-parity-gnome.svelte
  site/src/figs/energy-parity/e-form-parity-m3gnet.svelte
  site/src/figs/energy-parity/e-form-parity-mace.svelte
  site/src/figs/energy-parity/e-form-parity-mattersim.svelte
  site/src/figs/energy-parity/e-form-parity-megnet.svelte
  site/src/figs/energy-parity/e-form-parity-orb mptrj.svelte
  site/src/figs/energy-parity/e-form-parity-orb-mptrj.svelte
  site/src/figs/energy-parity/e-form-parity-orb.svelte
  site/src/figs/energy-parity/e-form-parity-sevennet.svelte
  site/src/figs/energy-parity/e-form-parity-voronoi rf.svelte
  site/src/figs/energy-parity/e-form-parity-voronoi-rf.svelte
  site/src/figs/energy-parity/e-form-parity-wrenformer.svelte
  site/src/figs/energy-parity/each-parity-alignn.svelte
  site/src/figs/energy-parity/each-parity-bowsr.svelte
  site/src/figs/energy-parity/each-parity-cgcnn+p.svelte
  site/src/figs/energy-parity/each-parity-cgcnn.svelte
  site/src/figs/energy-parity/each-parity-chgnet.svelte
  site/src/figs/energy-parity/each-parity-gnome.svelte
  site/src/figs/energy-parity/each-parity-m3gnet.svelte
  site/src/figs/energy-parity/each-parity-mace.svelte
  site/src/figs/energy-parity/each-parity-mattersim.svelte
  site/src/figs/energy-parity/each-parity-megnet.svelte
  site/src/figs/energy-parity/each-parity-orb mptrj.svelte
  site/src/figs/energy-parity/each-parity-orb-mptrj.svelte
  site/src/figs/energy-parity/each-parity-orb.svelte
  site/src/figs/energy-parity/each-parity-sevennet.svelte
  site/src/figs/energy-parity/each-parity-voronoi rf.svelte
  site/src/figs/energy-parity/each-parity-voronoi-rf.svelte
  site/src/figs/energy-parity/each-parity-wrenformer.svelte
  site/src/lib/model-schema.d.ts
  site/src/routes/models/[slug]/+page.server.ts
  site/src/routes/models/[slug]/+page.svelte
Labels: analysis, site, ux

#137 Move element-projected convex hull distance errors to model detail pages
  matbench_discovery/models.py
  matbench_discovery/preds.py
  models/bowsr/bowsr.yml
  readme.md
  scripts/model_figs/metrics_tables.py
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/CaptionedMetricsTable.svelte
  site/src/routes/+page.svelte
  site/src/routes/models/+page.server.ts
  site/src/routes/models/+page.svelte
  site/src/routes/models/[slug]/+page.server.ts
  site/src/routes/models/[slug]/+page.svelte
  site/src/routes/models/[slug]/mace.md
  site/src/routes/models/[slug]/mace.svelte
  site/src/routes/models/tmi/+page.svelte
  site/src/routes/models/tmi/ElementErrorsPtableHeatmap.svelte
Labels: site, ux

#138 Fix model detail pages for models with array of training sets and non-string notes in YAML metadata
  scripts/model_figs/parity_energy.py
  site/src/figs/energy-parity/e-form-parity-alignn.svelte
  site/src/figs/energy-parity/e-form-parity-bowsr.svelte
  site/src/figs/energy-parity/e-form-parity-cgcnn+p.svelte
  site/src/figs/energy-parity/e-form-parity-cgcnn.svelte
  site/src/figs/energy-parity/e-form-parity-chgnet.svelte
  site/src/figs/energy-parity/e-form-parity-gnome.svelte
  site/src/figs/energy-parity/e-form-parity-m3gnet.svelte
  site/src/figs/energy-parity/e-form-parity-mace.svelte
  site/src/figs/energy-parity/e-form-parity-mattersim.svelte
  site/src/figs/energy-parity/e-form-parity-megnet.svelte
  site/src/figs/energy-parity/e-form-parity-orb mptrj.svelte
  site/src/figs/energy-parity/e-form-parity-orb.svelte
  site/src/figs/energy-parity/e-form-parity-sevennet.svelte
  site/src/figs/energy-parity/e-form-parity-voronoi rf.svelte
  site/src/figs/energy-parity/e-form-parity-wrenformer.svelte
  site/src/figs/energy-parity/each-parity-alignn.svelte
  site/src/figs/energy-parity/each-parity-bowsr.svelte
  site/src/figs/energy-parity/each-parity-cgcnn+p.svelte
  site/src/figs/energy-parity/each-parity-cgcnn.svelte
  site/src/figs/energy-parity/each-parity-chgnet.svelte
  site/src/figs/energy-parity/each-parity-gnome.svelte
  site/src/figs/energy-parity/each-parity-m3gnet.svelte
  site/src/figs/energy-parity/each-parity-mace.svelte
  site/src/figs/energy-parity/each-parity-mattersim.svelte
  site/src/figs/energy-parity/each-parity-megnet.svelte
  site/src/figs/energy-parity/each-parity-orb mptrj.svelte
  site/src/figs/energy-parity/each-parity-orb.svelte
  site/src/figs/energy-parity/each-parity-sevennet.svelte
  site/src/figs/energy-parity/each-parity-voronoi rf.svelte
  site/src/figs/energy-parity/each-parity-wrenformer.svelte
  site/src/lib/ModelCard.svelte
  site/src/routes/models/+page.svelte
  site/src/routes/models/[slug]/+page.server.ts
  site/src/routes/models/[slug]/+page.svelte
Labels: site, fix

#140 `slurm_submit` add kwarg `submit_as_temp_file: bool = True`
  .pre-commit-config.yaml
  matbench_discovery/slurm.py
  tests/test_slurm.py
Labels: enhancement, slurm
