Repository janosh/matbench-discovery, pull requests merged in 2024-08, with the labels that each got.

#119 Test `mace_mp_0b`
  .gitignore
  .pre-commit-config.yaml
  data/mp/eda_mp_trj.py
  data/wbm/compile_wbm_test_set.py
  data/wbm/eda_wbm.py
  matbench_discovery/enums.py
  matbench_discovery/preds.py
  models/cgcnn/plot_structure_perturbation.py
  models/chgnet/analyze_chgnet.py
  models/chgnet/chgnet.yml
  models/chgnet/join_chgnet_results.py
  models/gnome/test_gnome.py
  models/m3gnet/pre_vs_post_m3gnet_relaxation.py
  models/mace/2023-12-11-mace-wbm-IS2RE-FIRE.csv.gz
  models/mace/analyze_mace.py
  models/mace/join_mace_results.py
  models/mace/test_mace.py
  models/megnet/test_megnet.py
  models/sevennet/2024-07-11-sevennet-preds-bad.csv.gz
  models/sevennet/2024-07-11-sevennet-preds-no-bad.csv.gz
  models/sevennet/filter_bad_preds.py
  models/sevennet/test_sevennet.py
  models/sevennet/train_sevennet/convert_MPTrj_to_xyz.py
  models/sevennet/train_sevennet/pre_train.yaml
  models/wrenformer/analyze_wrenformer.py
  pyproject.toml
  scripts/analyze_model_failure_cases.py
  scripts/model_figs/metrics_tables.py
  scripts/model_figs/per_element_errors.py
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/lib/CaptionedMetricsTable.svelte
  tests/test_preds.py
Labels: analysis

#120 `data.py` add `ase_atoms_(to|from)_zip`
  .gitignore
  data/mp/eda_mp_trj.py
  data/pmg_structs_to_ase_extxyz.py
  matbench_discovery/data.py
  matbench_discovery/figshare/1.0.0.json
  models/alignn/alignn.yml
  models/alignn_ff/alignn-ff.yml
  models/bowsr/test_bowsr.py
  models/cgcnn/train_cgcnn.py
  models/chgnet/test_chgnet.py
  models/m3gnet/test_m3gnet.py
  models/mace/json_to_extxyz.py
  models/mace/test_mace.py
  models/mace/train_mace.py
  models/megnet/test_megnet.py
  models/sevennet/test_sevennet.py
  models/sevennet/train_sevennet/convert_mptrj_to_xyz.py
  models/wrenformer/train_wrenformer.py
  pyproject.toml
  scripts/compute_struct_fingerprints.py
  scripts/project_compositions.py
  site/src/routes/contribute/+page.md
  tests/test_data.py
Labels: enhancement, data

#122 Type hint optimizer and filter in `test_mace` and `test_7net` correctly, fix pickled `PatchedPhaseDiagram` and `compile_wbm_test_set.py`
  data/mp/build_phase_diagram.py
  data/wbm/compile_wbm_test_set.py
  matbench_discovery/data.py
  matbench_discovery/figshare/1.0.0.json
  models/mace/test_mace.py
  models/sevennet/test_sevennet.py
Labels: data, reproducibility, fix, types

#126 Add individual model detail pages
  models/alignn/alignn.yml
  models/alignn_ff/alignn-ff.yml
  models/bowsr/bowsr.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/chgnet/chgnet.yml
  models/gnome/gnome.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/mace/test_mace.py
  models/mattersim/mattersim.yml
  models/megnet/megnet.yml
  models/sevennet/sevennet.yml
  models/voronoi_rf/voronoi_rf.yml
  models/wrenformer/wrenformer.yml
  site/src/lib/ModelCard.svelte
  site/src/lib/model-schema.d.ts
  site/src/routes/models/[slug]/+page.server.ts
  site/src/routes/models/[slug]/+page.svelte
  site/src/routes/models/[slug]/mace.svelte
  tests/model-schema.yml
Labels: docs, site

#128 Fix `scripts/model_figs/per_element_errors.py`
  scripts/model_figs/per_element_errors.py
Labels: fix

#127 Test more plotting scripts in CI
  .github/workflows/slow-tests.yml
  .github/workflows/test-scripts.yml
  .pre-commit-config.yaml
  data/wbm/readme.md
  models/alignn/alignn.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/megnet/megnet.yml
  models/sevennet/sevennet.yml
  models/voronoi_rf/voronoi_rf.yml
  models/wrenformer/wrenformer.yml
  pyproject.toml
  scripts/model_figs/per_element_errors.py
  site/src/lib/ModelCard.svelte
  site/src/routes/models/+page.server.ts
  site/src/routes/models/[slug]/+page.server.ts
  site/src/routes/models/[slug]/+page.svelte
  site/svelte.config.js
Labels: ci
