Repository janosh/matbench-discovery, pull requests merged in 2024-10, with the labels that each got.

#143 Metrics table column tooltips
  models/wrenformer/analyze_wrenformer.py
  scripts/model_figs/metrics_tables.py
  site/package.json
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
Labels: site

#147 update orb models to v2
  .github/workflows/release.yml
  .github/workflows/test.yml
  matbench_discovery/preds.py
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/orb/orbff-mptrj-only-v2-20241014.csv.gz
  models/orb/orbff-v2-20241011.csv.gz
  models/orb/readme.md
  scripts/analyze_model_failure_cases.py
  scripts/model_figs/compile_model_stats.py
  scripts/model_figs/metrics_tables.py
  scripts/model_figs/per_element_errors.py
  scripts/model_figs/rolling_mae_vs_hull_dist_wbm_batches.py
  site/src/figs/box-hull-dist-errors.svelte
  site/src/figs/cumulative-mae.svelte
  site/src/figs/cumulative-precision-recall.svelte
  site/src/figs/each-error-vs-least-prevalent-element-in-struct.svelte
  site/src/figs/each-parity-models-8x2.svelte
  site/src/figs/energy-parity/e-form-parity-orb mptrj.svelte
  site/src/figs/energy-parity/e-form-parity-orb.svelte
  site/src/figs/energy-parity/each-parity-orb mptrj.svelte
  site/src/figs/energy-parity/each-parity-orb.svelte
  site/src/figs/hist-clf-pred-hull-dist-models-8x2.svelte
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/figs/per-element-each-errors.json
  site/src/figs/roc-models.svelte
  site/src/figs/rolling-mae-vs-hull-dist-models.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-alignn.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-bowsr.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-cgcnn+p.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-cgcnn.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-chgnet.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-gnome.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-m3gnet.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-mace.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-mattersim.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-megnet.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-orb-mptrj.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-orb.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-sevennet.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-voronoi-rf.svelte
  site/src/figs/rolling-mae-vs-hull-dist-wbm-batches-wrenformer.svelte
  site/src/lib/model-stats-10k.json
  site/src/lib/model-stats-uniq-protos.json
  site/src/lib/model-stats.json
  site/src/routes/models/[slug]/+page.svelte
  site/src/routes/preprint/+page.md
Labels: new model

#148 Schema tweaks for model metadata
  .pre-commit-config.yaml
  data/training-sets.yml
  matbench_discovery/models.py
  models/alignn/alignn.yml
  models/alignn_ff/alignn-ff.yml
  models/bowsr/bowsr.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/chgnet/chgnet.yml
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/eqV2/readme.md
  models/gnome/gnome.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/mattersim/mattersim.yml
  models/megnet/megnet.yml
  models/orb/orb-mptrj.yml
  models/sevennet/sevennet.yml
  models/voronoi_rf/voronoi-rf.yml
  models/wrenformer/wrenformer.yml
  site/src/figs/energy-parity/e-form-parity-orb mptrj.svelte
  site/src/figs/energy-parity/e-form-parity-voronoi rf.svelte
  site/src/figs/energy-parity/each-parity-orb mptrj.svelte
  site/src/figs/energy-parity/each-parity-voronoi rf.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/index.ts
  site/src/lib/model-schema.d.ts
  site/src/routes/models/+page.server.ts
  site/src/routes/models/+page.svelte
  tests/model-schema.yml
Labels: housekeeping, types

#149 Indicate direct vs conservative force/stress models in targets column of metrics table
  .pre-commit-config.yaml
  matbench_discovery/enums.py
  models/alignn_ff/alignn-ff.yml
  models/alignn_ff/alignn_ff_relax.py
  models/chgnet/chgnet.yml
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/gnome/gnome.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/mattersim/mattersim.yml
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/sevennet.yml
  scripts/model_figs/metrics_tables.py
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/lib/model-schema.d.ts
  tests/model-schema.yml
Labels: enhancement, site, mlff

#151 Add `calc_energy_from_e_refs` utility function
  matbench_discovery/energy.py
  tests/test_energy.py
Labels: enhancement
