Repository janosh/matbench-discovery, pull requests merged in 2024-11, with the labels that each got.

#153 In the cumulative recall point the final points aren't shown.
  matbench_discovery/plots.py
  scripts/calc_model_run_times.py
  scripts/model_figs/analyze_model_disagreement.py
  scripts/model_figs/cumulative_metrics.py
  scripts/model_figs/hist_classified_stable_vs_hull_dist_models.py
  scripts/model_figs/hull_dist_box_plot.py
  scripts/model_figs/parity_energy.py
  scripts/model_figs/parity_energy_models.py
  scripts/model_figs/roc_prc_curves_models.py
  scripts/model_figs/rolling_mae_vs_hull_dist_models.py
  scripts/model_figs/rolling_mae_vs_hull_dist_wbm_batches.py
Labels: bug

#150 Expand benchmark to thermal conductivity prediction
  .github/workflows/gh-pages.yml
  matbench_discovery/data.py
  models/alignn/alignn.yml
  models/alignn_ff/alignn-ff.yml
  models/bowsr/bowsr.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/chgnet/chgnet.yml
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/eqV2/readme.md
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/megnet/megnet.yml
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/sevennet.yml
  models/voronoi_rf/voronoi-rf.yml
  models/wrenformer/wrenformer.yml
  scripts/metrics-which-is-better.yml
  scripts/model_figs/metrics_tables.py
  site/src/figs/energy-parity/e-form-parity-eqv2-m.svelte
  site/src/figs/energy-parity/e-form-parity-eqv2-s-dens.svelte
  site/src/figs/energy-parity/each-parity-eqv2-m.svelte
  site/src/figs/energy-parity/each-parity-eqv2-s-dens.svelte
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/CaptionedMetricsTable.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/model-schema.d.ts
  site/src/lib/types.ts
  site/src/routes/+layout.server.ts
  site/src/routes/+page.svelte
  site/src/routes/kappa-note.md
  site/src/routes/models/+page.svelte
  site/src/routes/models/[slug]/+page.svelte
  site/static/figs/metrics-table-first-10k-only-compliant.pdf
  site/static/figs/metrics-table-first-10k-only-compliant.svg
  site/static/figs/metrics-table-first-10k.pdf
  site/static/figs/metrics-table-first-10k.svg
  site/static/figs/metrics-table-only-compliant.pdf
  site/static/figs/metrics-table-only-compliant.svg
  site/static/figs/metrics-table-uniq-protos-only-compliant.pdf
  site/static/figs/metrics-table-uniq-protos-only-compliant.svg
  site/static/figs/metrics-table-uniq-protos.pdf
  site/static/figs/metrics-table-uniq-protos.svg
  site/static/figs/metrics-table.pdf
  site/static/figs/metrics-table.svg
  tests/model-schema.yml
Labels: analysis

#156 Swap `pandas`-generated metrics tables for fully-dynamic Svelte `DiscoveryMetricsTable`
  matbench_discovery/data.py
  matbench_discovery/enums.py
  models/alignn/alignn.yml
  models/alignn_ff/alignn-ff.yml
  models/bowsr/bowsr.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/chgnet/chgnet.yml
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/gnome/gnome.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/mattersim/mattersim.yml
  models/megnet/megnet.yml
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/2024-07-11-sevennet-0-preds.csv.gz
  models/sevennet/2024-07-11-sevennet-preds.csv.gz
  models/sevennet/filter_bad_preds.py
  models/sevennet/join_7net_preds.py
  models/sevennet/sevennet.yml
  models/voronoi_rf/voronoi-rf.yml
  models/wrenformer/wrenformer.yml
  scripts/2024-11-07-rmsd-violin.pdf
  scripts/2024-11-07-sym-ops-diff-violin.pdf
  scripts/2024-11-07-sym-violin.pdf
  scripts/ml_relaxed_struct_analysis.py
  scripts/model_figs/metrics_tables.py
  scripts/model_figs/parity_energy.py
  site/package.json
  site/src/app.css
  site/src/app.html
  site/src/figs/metrics-table-first-10k-uip-megnet-combos.svelte
  site/src/figs/metrics-table-first-10k.svelte
  site/src/figs/metrics-table-uniq-protos.svelte
  site/src/figs/metrics-table.svelte
  site/src/lib/CaptionedMetricsTable.svelte
  site/src/lib/DiscoveryMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/index.ts
  site/src/lib/model-schema.d.ts
  site/src/routes/+page.svelte
  site/src/routes/data/+page.svelte
  site/src/routes/models/+page.svelte
  site/src/routes/models/[slug]/+page.svelte
  site/src/routes/preprint/+page.md
  site/src/routes/preprint/iclr-ml4mat/+page.md
  site/svelte.config.js
  tests/conftest.py
  tests/model-schema.yml
  tests/test_structure.py
Labels: site

#157 Preliminary `GeoOptMetricsTable.svelte`
  .github/workflows/test.yml
  data/wbm/eda_wbm.py
  matbench_discovery/data.py
  matbench_discovery/enums.py
  matbench_discovery/metrics/__init__.py
  matbench_discovery/metrics/discovery.py
  matbench_discovery/metrics/geo_opt.py
  matbench_discovery/plots.py
  matbench_discovery/preds/__init__.py
  matbench_discovery/preds/discovery.py
  matbench_discovery/preds/geo_opt.py
  models/chgnet/analyze_chgnet.py
  models/chgnet/ctk_structure_viewer.py
  models/chgnet/join_chgnet_preds.py
  models/gnome/test_gnome.py
  models/mace/analyze_mace.py
  models/megnet/test_megnet.py
  models/wrenformer/analyze_wrenformer.py
  pyproject.toml
  scripts/analyze_model_failure_cases.py
  scripts/calc_model_run_times.py
  scripts/hist_classified_stable_vs_hull_dist.py
  scripts/hist_classified_stable_vs_hull_dist_batches.py
  scripts/metrics-which-is-better.yml
  scripts/metrics/discovery_tables.py
  scripts/metrics/geo_opt.py
  scripts/ml_relaxed_struct_analysis.py
  scripts/model_figs/analyze_model_disagreement.py
  scripts/model_figs/cumulative_metrics.py
  scripts/model_figs/hist_classified_stable_vs_hull_dist_models.py
  scripts/model_figs/hull_dist_box_plot.py
  scripts/model_figs/parity_energy.py
  scripts/model_figs/parity_energy_models.py
  scripts/model_figs/roc_prc_curves_models.py
  scripts/model_figs/rolling_mae_vs_hull_dist_models.py
  scripts/model_figs/rolling_mae_vs_hull_dist_wbm_batches.py
  scripts/per_element_errors.py
  scripts/rolling_mae_vs_hull_dist.py
  site/src/app.d.ts
  site/src/figs/struct-rmsd-cdf-models.svelte
  site/src/lib/CaptionedMetricsTable.svelte
  site/src/lib/DiscoveryMetricsTable.svelte
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/index.ts
  site/src/routes/models/+page.svelte
  site/src/routes/tasks/geo-opt/+page.svelte
  tests/metrics/test_discovery_metrics.py
  tests/metrics/test_geo_opt_metrics.py
  tests/test_data.py
  tests/test_models.py
  tests/test_preds.py
Labels: analysis, site, breaking

#159 Fix markdown to HTML conversion of model notes
  data/training-sets.yml
  data/wbm/eda_wbm.py
  matbench_discovery/plots.py
  matbench_discovery/preds/geo_opt.py
  models/chgnet/ctk_structure_viewer.py
  models/mattersim/mattersim.yml
  models/wrenformer/analyze_wrenformer.py
  scripts/analyze_model_failure_cases.py
  scripts/calc_model_run_times.py
  scripts/compute_struct_fingerprints.py
  scripts/model_figs/analyze_model_disagreement.py
  scripts/model_figs/roc_curves_models.py
  scripts/model_figs/tiles_prc_curves_models.py
  scripts/per_element_errors.py
  site/src/lib/HeatmapTable.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/index.ts
  site/src/lib/model-schema.d.ts
  site/src/routes/models/[slug]/+page.svelte
  tests/model-schema.yml
Labels: site, fix

#161 Document new force field submission requirement to record and upload structure relaxations
  contributing.md
  matbench_discovery/data-files.yml
  matbench_discovery/data.py
  matbench_discovery/figshare/1.0.0.json
  matbench_discovery/figshare/readme.md
  models/mace/readme.md
  pyproject.toml
  scripts/upload_to_figshare.py
  site/src/lib/index.ts
  site/src/routes/contribute/+page.svelte
  site/src/routes/data/mptrj/MPtrjElemCountsPtable.svelte
  site/src/routes/data/mptrj/readme.md
  tests/test_data.py
Labels: docs

#160 GRACE-2L_r6
  matbench_discovery/data.py
  matbench_discovery/energy.py
  matbench_discovery/enums.py
  matbench_discovery/metrics/discovery.py
  matbench_discovery/models.py
  matbench_discovery/preds/discovery.py
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/grace2l_r6/2024-11-21-MP_GRACE_2L_r6_11Nov2024-wbm-IS2RE-FIRE-bad.csv
  models/grace2l_r6/2024-11-21-MP_GRACE_2L_r6_11Nov2024-wbm-IS2RE-FIRE.csv.gz
  models/grace2l_r6/grace2l-r6.yml
  models/grace2l_r6/join_grace_preds.py
  models/grace2l_r6/run_eval_parallel.sh
  models/grace2l_r6/test_grace.py
  models/mace/mace.yml
  scripts/metrics/discovery_tables.py
  scripts/model_figs/run_all.py
  scripts/per_element_errors.py
  site/src/figs/energy-parity/e-form-parity-grace2l-r6.svelte
  site/src/figs/energy-parity/each-parity-grace2l-r6.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/DiscoveryMetricsTable.svelte
  site/src/routes/models/[slug]/+page.svelte
Labels: new model

#167 More geo opt metrics
  contributing.md
  matbench_discovery/metrics-which-is-better.yml
  matbench_discovery/metrics/geo_opt.py
  matbench_discovery/structure.py
  models/bowsr/bowsr.yml
  models/chgnet/chgnet.yml
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/grace2l_r6/grace2l-r6.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace.yml
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/sevennet.yml
  scripts/metrics/eval_geo_opt.py
  scripts/metrics/update_df_geo_opt.py
  site/src/lib/DiscoveryMetricsTable.svelte
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/model-schema.d.ts
  site/src/routes/+layout.svelte
  site/src/routes/tasks/geo-opt/+page.svelte
  site/src/routes/tasks/geo-opt/geo-opt-readme.md
  tests/metrics/test_geo_opt_metrics.py
  tests/model-schema.yml
  tests/test_structure.py
Labels: enhancement, analysis, mlff, geo opt
