Repository janosh/matbench-discovery, pull requests merged in 2024-12, with the labels that each got.

#173 Migrate from `spglib` to `moyopy`
  .github/workflows/test.yml
  .pre-commit-config.yaml
  data/wbm/compile_wbm_test_set.py
  data/wbm/eda_wbm.py
  data/wbm/readme.md
  matbench_discovery/data.py
  matbench_discovery/enums.py
  matbench_discovery/metrics/discovery.py
  matbench_discovery/metrics/geo_opt.py
  matbench_discovery/preds/discovery.py
  matbench_discovery/structure.py
  pyproject.toml
  scripts/metrics/eval_discovery.py
  scripts/metrics/eval_geo_opt.py
  scripts/model_figs/analyze_model_disagreement.py
  scripts/model_figs/cumulative_metrics.py
  scripts/model_figs/hull_dist_box_plot.py
  scripts/model_figs/roc_curves_models.py
  scripts/model_figs/rolling_mae_models.py
  scripts/model_figs/single_model_parity_energy.py
  scripts/model_figs/tiles_energy_parity.py
  scripts/model_figs/tiles_hist_classified_stable_models.py
  scripts/model_figs/tiles_prc_curves_models.py
  scripts/model_figs/tiles_rolling_mae_batches.py
  scripts/per_element_errors.py
  scripts/rolling_mae_vs_hull_dist.py
  scripts/traces_energy_parity.py
  scripts/upload_to_figshare.py
  site/package.json
  site/src/lib/HeatmapTable.svelte
  site/src/routes/+page.svelte
  site/src/routes/models/+page.svelte
  site/src/routes/tasks/geo-opt/geo-opt-readme.md
  site/tsconfig.json
  tests/metrics/test_discovery_metrics.py
  tests/test_structure.py
Labels: analysis, geo opt

#172 SevenNet l3i5
  .gitignore
  data/pmg_structs_to_ase_extxyz.py
  data/wbm/compare_cse_vs_ce_mp_2020_corrections.py
  data/wbm/compile_wbm_test_set.py
  data/wbm/eda_wbm.py
  matbench_discovery/data.py
  matbench_discovery/metrics/geo_opt.py
  models/alignn/test_alignn.py
  models/alignn_ff/alignn_ff_relax.py
  models/bowsr/test_bowsr.py
  models/cgcnn/test_cgcnn.py
  models/chgnet/ctk_trajectory_viewer.py
  models/chgnet/test_chgnet.py
  models/eqV2/join_fairchem_preds.py
  models/m3gnet/join_m3gnet_preds.py
  models/m3gnet/pre_vs_post_m3gnet_relaxation.py
  models/m3gnet/test_m3gnet.py
  models/mace/join_mace_preds.py
  models/mattersim/test_mattersim.py
  models/megnet/test_megnet.py
  models/orb/join_orb_preds.py
  models/orb/test_orb.py
  models/sevennet/join_7net_preds.py
  models/sevennet/sevennet-0.yml
  models/sevennet/sevennet-0/2024-07-11-sevennet-0-preds.csv.gz
  models/sevennet/sevennet-0/hyperparams-sevennet-0.yaml
  models/sevennet/sevennet-l3i5.yml
  models/sevennet/sevennet-l3i5/2024-12-10-sevennet-l3l5-bads.csv.gz
  models/sevennet/sevennet-l3i5/2024-12-10-sevennet-l3l5-preds.csv.gz
  models/sevennet/sevennet-l3i5/hyperparams-sevennet-l3i5.yaml
  models/sevennet/test_sevennet.py
  models/sevennet/train_sevennet/filter_bad_preds.py
  models/sevennet/train_sevennet/train_sevennet.sh
  models/voronoi_rf/voronoi_featurize_dataset.py
  scripts/analyze_model_failure_cases.py
  scripts/compute_struct_fingerprints.py
  scripts/metrics/eval_geo_opt.py
  scripts/metrics/update_df_geo_opt.py
  tests/conftest.py
  tests/metrics/test_geo_opt_metrics.py
Labels: new model

#176 Remove markdown preprint, instead redirect to updated arXiv
  contributing.md
  data/wbm/readme.md
  readme.md
  scripts/analyze_model_failure_cases.py
  scripts/model_figs/cumulative_metrics.py
  scripts/model_figs/hull_dist_box_plot.py
  scripts/per_element_errors.py
  site/src/figs/bar-element-counts-mp+wbm-normalized=False.svelte
  site/src/figs/box-hull-dist-errors-only-compliant.svelte
  site/src/figs/box-hull-dist-errors.svelte
  site/src/figs/cumulative-precision-recall-only-compliant.svelte
  site/src/figs/cumulative-precision-recall.svelte
  site/src/figs/element-prevalence-vs-error.svelte
  site/src/figs/hist-clf-pred-hull-dist-models-9x2.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/landing-page-figs.md
  site/src/routes/models/tmi/+page.svelte
  site/src/routes/preprint/+layout.server.ts
  site/src/routes/preprint/+layout.svelte
  site/src/routes/preprint/+page.md
  site/src/routes/preprint/2022-10-27-mrs-spring-23-abstract.md
  site/src/routes/preprint/iclr-ml4mat/+page.md
  site/src/routes/preprint/largest-error-scatter-select.svelte
  site/src/routes/preprint/readme.md
  site/src/routes/preprint/references.yaml
  site/svelte.config.js
Labels: docs, site

#175 Add MACE-MPA 0 trained on MPtrj + Alexandria
  matbench_discovery/data.py
  models/mace/2023-07-22-mace-wbm-IS2RE.csv.gz
  models/mace/2023-08-14-mace-wbm-IS2RE-FIRE.csv.gz
  models/mace/2023-09-02-mace-wbm-IS2RE-FIRE.csv.gz
  models/mace/2023-11-02-mace-wbm-IS2RE-FIRE.csv.gz
  models/mace/join_mace_preds.py
  models/mace/mace-mp-0.yml
  models/mace/mace-mp-0/2023-12-11-mace-mp-0-wbm-IS2RE-FIRE.csv.gz
  models/mace/mace-mpa-0.yml
  models/mace/mace-mpa-0/2024-12-09-mace-mpa-0-wbm-IS2RE-FIRE.csv.gz
  models/mace/test_mace.py
  site/src/figs/energy-parity/e-form-parity-mace-mp-0.svelte
  site/src/figs/energy-parity/e-form-parity-mace-mpa-0.svelte
  site/src/figs/energy-parity/each-parity-mace-mp-0.svelte
  site/src/figs/energy-parity/each-parity-mace-mpa-0.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/types.ts
Labels: new model

#181 Fix `compile_wbm_test_set.py` script... again
  .pre-commit-config.yaml
  contributing.md
  data/wbm/compile_wbm_test_set.py
  matbench_discovery/energy.py
  models/orb/test_orb.py
  site/src/lib/Footer.svelte
Labels: data, fix

#183 Fix Niggli edge case failures in WBM symmetry analysis
  data/mp/eda_mp_trj.py
  data/wbm/eda_wbm.py
  matbench_discovery/__init__.py
  matbench_discovery/plots.py
  models/cgcnn/plot_structure_perturbation.py
  models/chgnet/analyze_chgnet.py
  pyproject.toml
  scripts/analyze_model_failure_cases.py
  scripts/wbm_umap_projection.py
Labels: fix, viz
