Repository janosh/matbench-discovery, pull requests merged in 2025-04, with the labels that each got.

#242 Add model checkpoint and code license types and URLs to all model YAML files
  contributing.md
  data/datasets.yml
  models/alchembert/alchembert.yml
  models/alignn/alignn.yml
  models/alignn_ff/alignn-ff.yml
  models/alphanet/alphanet-mptrj.yml
  models/bowsr/bowsr.yml
  models/cgcnn/cgcnn+p.yml
  models/cgcnn/cgcnn.yml
  models/chgnet/chgnet-0.3.0.yml
  models/deepmd/dpa3-v1-mptrj.yml
  models/deepmd/dpa3-v1-openlam.yml
  models/deepmd/dpa3-v2-mptrj.yml
  models/deepmd/dpa3-v2-openlam.yml
  models/eSEN/eSEN-30m-mp.yml
  models/eSEN/eSEN-30m-oam.yml
  models/eqV2/eqV2-m-omat-salex-mp.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/gnome/gnome.yml
  models/grace/grace-1l-oam.yml
  models/grace/grace-2l-mptrj.yml
  models/grace/grace-2l-oam.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace-mp-0.yml
  models/mace/mace-mpa-0.yml
  models/matris/matris-v050-mptrj.yml
  models/mattersim/mattersim-v1-5m.yml
  models/megnet/megnet.yml
  models/orb/orb-v2-mptrj.yml
  models/orb/orb-v2.yml
  models/sevennet/sevennet-0.yml
  models/sevennet/sevennet-l3i5.yml
  models/sevennet/sevennet-mf-ompa.yml
  models/voronoi_rf/voronoi-rf.yml
  models/wrenformer/wrenformer.yml
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/TableColumnToggleMenu.svelte
  site/src/lib/TableControls.svelte
  site/src/lib/dataset-schema.d.ts
  site/src/lib/metrics-table-helpers.ts
  site/src/lib/metrics.ts
  site/src/lib/model-schema.d.ts
  site/src/lib/types.ts
  site/src/routes/+page.svelte
  site/src/routes/data/sets/+page.svelte
  site/tests/HeatmapTable.test.svelte.ts
  site/tests/TableColumnToggleMenu.svelte.test.ts
  tests/dataset-schema.yml
  tests/model-schema.yml
Labels: docs, enhancement

#244 Fix sorting metrics table by model names
  contributing.md
  data/mp/eda_mp_trj.py
  matbench_discovery/phonons/thermal_conductivity.py
  models/alphanet/test_alphanet_kappa.py
  models/deepmd/test_dpa3_kappa.py
  models/eSEN/test_esen_kappa.py
  models/mace/readme.md
  models/mace/test_mace_discovery.py
  models/mace/test_mace_kappa.py
  models/matris/test_matris_kappa.py
  models/sevennet/test_sevennet_kappa.py
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/metrics-table-helpers.ts
  site/src/lib/metrics.ts
  site/tests/MetricsTable.test.svelte.ts
  tests/phonons/test_thermal_conductivity.py
Labels: site, fix

#240 Orb v3
  contributing.md
  matbench_discovery/enums.py
  models/orb/orb-v2-mptrj.yml
  models/orb/orb-v2.yml
  models/orb/orb-v3.yml
  models/orb/test_orb_kappa.py
  site/src/lib/metrics.ts
  site/tests/metrics.test.ts
Labels: new model

#246 Add RSS feed
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/src/app.html
  site/src/figs/energy-parity/e-form-parity-orb-v3.svelte
  site/src/figs/energy-parity/each-parity-orb-v3.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/DiatomicCurve.svelte
  site/src/lib/Footer.svelte
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/index.ts
  site/src/lib/metric-helpers.ts
  site/src/lib/metrics.ts
  site/src/lib/types.ts
  site/src/routes/+page.svelte
  site/src/routes/data/sets/+page.svelte
  site/src/routes/models/+page.svelte
  site/src/routes/models/[slug]/+page.server.ts
  site/src/routes/models/tmi/ElementErrorsPtableHeatmap.svelte
  site/src/routes/rss.xml/+server.ts
  site/src/routes/tasks/diatomics/+page.server.ts
  site/src/routes/tasks/discovery/+page.svelte
  site/src/routes/tasks/geo-opt/+page.svelte
  site/src/routes/tasks/phonons/+page.svelte
  site/tests/DatasetsPage.test.ts
  site/tests/HeatmapTable.test.svelte.ts
  site/tests/LandingPage.test.ts
  site/tests/ModelCard.test.svelte.ts
  site/tests/ModelPage.test.ts
  site/tests/metric-helpers.test.ts
  site/tests/rss.test.ts
Labels: site, ux

#252 Fix: update correct logo for AI for Science Institute
  data/datasets.yml
  models/deepmd/readme.md
  models/eqV2/eqV2-m-omat-salex-mp.yml
  models/eqV2/eqV2-s-dens-mp.yml
  site/src/app.css
  site/src/lib/IconList.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/labels.ts
  site/src/lib/models.svelte.ts
  site/static/logos/beijing-ai-academy.svg
  site/static/logos/beijing-ai-for-science-institute.svg
  site/static/logos/beijing-information-science-and-technology-university.svg
  site/static/logos/incheon-national-university.svg
  site/static/logos/uc-berkeley.svg
Labels: site, fix
