Repository janosh/matbench-discovery, pull requests merged in 2025-03, with the labels that each got.

#187 add alchembert to Matbench Discovery leaderboard
  matbench_discovery/enums.py
  models/alchembert/alchembert.yml
  models/alchembert/readme.md
  models/alchembert/test_discovery_alchembert.py
  models/alchembert/train_discovery_alchembert.py
Labels: new model

#212 Diatomic metrics fixes
  .pre-commit-config.yaml
  data/mp/eda_mp_trj.py
  data/wbm/compile_wbm_test_set.py
  data/wbm/eda_wbm.py
  data/wbm/readme.md
  matbench_discovery/hpc.py
  matbench_discovery/metrics/diatomics/__init__.py
  matbench_discovery/metrics/diatomics/energy.py
  matbench_discovery/metrics/diatomics/force.py
  matbench_discovery/metrics/discovery.py
  matbench_discovery/metrics/geo_opt.py
  matbench_discovery/structure/prototype.py
  matbench_discovery/structure/wyckoff-position-relabelings.yaml.gz
  models/alphanet/test_alphanet_diatomics.py
  models/eqV2/test_fairchem_discovery.py
  scripts/evals/diatomic_metrics.py
  scripts/model_figs/tiles_hist_classified_stable_models.py
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/Nav.svelte
  site/src/lib/TableColumnToggleMenu.svelte
  site/src/routes/+page.svelte
  site/src/routes/api/+page.svelte
  site/src/routes/data/mptrj/+page.svelte
  site/src/routes/models/+page.svelte
  site/src/routes/models/[slug]/+page.svelte
  site/src/routes/tasks/diatomics/+page.svelte
  site/src/routes/tasks/discovery/+page.svelte
  site/src/routes/tasks/geo-opt/+page.svelte
  site/static/models
  tests/conftest.py
  tests/metrics/diatomics/test_diatomics_energy.py
  tests/metrics/diatomics/test_diatomics_force.py
  tests/metrics/diatomics/test_diatomics_init.py
  tests/structure/test_prototype.py
  tests/test_diatomics.py
Labels: analysis

#220 Add MatRIS model
  .github/pull_request_template.md
  .pre-commit-config.yaml
  matbench_discovery/enums.py
  models/matris/join_matris_preds.py
  models/matris/matris-v050-mptrj.yml
  models/matris/test_matris_discovery.py
  models/matris/test_matris_kappa.py
  scripts/model_figs/single_model_parity_energy.py
  scripts/upload_model_preds_to_figshare.py
  site/src/figs/energy-parity/e_form-parity-matris-v050-mptrj.svelte
  site/src/figs/energy-parity/each-parity-matris-v050-mptrj.svelte
  site/src/figs/per-element-each-errors.json
Labels: new model

#222 Update DPA3-v1 to DPA3-v2
  data/training-sets.yml
  matbench_discovery/enums.py
  models/deepmd/dpa3-v1-mptrj.yml
  models/deepmd/dpa3-v1-openlam.yml
  models/deepmd/dpa3-v2-mptrj.yml
  models/deepmd/dpa3-v2-openlam.yml
  models/deepmd/join_dpa3_preds.py
  models/deepmd/readme.md
  models/deepmd/test_dpa3_kappa.py
  scripts/model_figs/single_model_parity_energy.py
  scripts/upload_model_preds_to_figshare.py
  site/src/figs/energy-parity/e-form-parity-dpa3-v2-mptrj.svelte
  site/src/figs/energy-parity/e-form-parity-dpa3-v2-openlam.svelte
  site/src/figs/energy-parity/each-parity-dpa3-v2-mptrj.svelte
  site/src/figs/energy-parity/each-parity-dpa3-v2-openlam.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/model-schema.d.ts
  tests/model-schema.yml
  tests/training-set-schema.yml
Labels: model update, compliant, non-compliant

#221 Add SevenNet-MF-ompa
  .github/pull_request_template.md
  matbench_discovery/enums.py
  models/sevennet/sevennet-0.yml
  models/sevennet/sevennet-mf-ompa.yml
  models/sevennet/sevennet-mf-ompa/hyperparams.yaml
  models/sevennet/test_sevennet_diatomics.py
  models/sevennet/test_sevennet_discovery.py
  models/sevennet/test_sevennet_kappa.py
  models/sevennet/train_sevennet/convert_mptrj_to_xyz.py
  site/src/figs/energy-parity/e-form-parity-sevennet-mf-ompa.svelte
  site/src/figs/energy-parity/each-parity-sevennet-mf-ompa.svelte
  site/src/figs/per-element-each-errors.json
  site/src/routes/api/+page.svelte
Labels: new model, non-compliant

#223 Show new combined performance score (CPS) on landing page with radar chart to dynamically adjust metric weights
  .github/pull_request_template.md
  models/sevennet/sevennet-mf-ompa.yml
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/RadarChart.svelte
  site/src/lib/TableColumnToggleMenu.svelte
  site/src/lib/TableControls.svelte
  site/src/lib/index.ts
  site/src/lib/metrics.ts
  site/src/lib/types.ts
  site/src/routes/+page.svelte
  site/src/routes/tasks/discovery/+page.svelte
  site/src/routes/tasks/geo-opt/+page.svelte
  site/tests/heatmap-table.test.svelte.ts
  site/tests/landing-page.test.ts
  site/tests/metrics-table.test.svelte.ts
  site/tests/metrics.test.ts
  site/tests/model-card.test.svelte.ts
  site/tests/radar-chart.test.svelte.ts
  site/tests/table-controls.test.svelte.ts
  site/vite.config.ts
Labels: analysis, site

#225 Fix typo in CPS's RMSD baseline: was 0.3Å, should have been 0.03Å
  site/src/lib/RadarChart.svelte
  site/src/lib/metrics.ts
  site/src/routes/+page.svelte
  site/tests/landing-page.test.ts
  site/tests/metrics.test.ts
Labels: site, fix

#226 Add FAIRChem eSEN models
  .gitignore
  data/mp/build_phase_diagram.py
  matbench_discovery/enums.py
  models/alphanet/test_alphanet_kappa.py
  models/deepmd/dpa3-v2-mptrj.yml
  models/deepmd/dpa3-v2-openlam.yml
  models/deepmd/test_dpa3_kappa.py
  models/eSEN/eSEN-30m-mp.yml
  models/eSEN/eSEN-30m-oam.yml
  models/eSEN/join_esen_preds.py
  models/eSEN/readme.md
  models/eSEN/test_esen_discovery.py
  models/eSEN/test_esen_kappa.py
  models/mace/test_mace_kappa.py
  models/matris/matris-v050-mptrj.yml
  models/matris/test_matris_kappa.py
  models/sevennet/test_sevennet_kappa.py
  site/src/figs/energy-parity/e-form-parity-esen-30m-mp.svelte
  site/src/figs/energy-parity/e-form-parity-esen-30m-oam.svelte
  site/src/figs/energy-parity/each-parity-esen-30m-mp.svelte
  site/src/figs/energy-parity/each-parity-esen-30m-oam.svelte
  site/src/figs/per-element-each-errors.json
  site/src/routes/data/data-files-direct-download.md
Labels: new model, MLIP (compliant), MLIP (non-compliant)

#229 Client-side MetricsTable SVG export
  scripts/evals/discovery.py
  site/package.json
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/RadarChart.svelte
  site/src/lib/html-to-img.ts
  site/src/lib/types.ts
  site/src/routes/+page.svelte
  site/src/routes/tasks/discovery/+page.svelte
  site/src/routes/tasks/phonons/+page.svelte
  site/static/figs/metrics-table-first-10k-only-compliant.pdf
  site/static/figs/metrics-table-first-10k-only-compliant.svg
  site/static/figs/metrics-table-first-10k.pdf
  site/static/figs/metrics-table-first-10k.svg
  site/static/figs/metrics-table-only-compliant.pdf
  site/static/figs/metrics-table-only-compliant.svg
  site/static/figs/metrics-table-uniq-protos-only-compliant.pdf
  site/static/figs/metrics-table-uniq-protos-only-compliant.svg
  site/static/figs/metrics-table-uniq-protos.pdf
  site/static/figs/metrics-table-uniq-protos.svg
  site/static/figs/metrics-table.pdf
  site/static/figs/metrics-table.svg
  site/tests/DownloadButtons.test.ts
  site/tests/html-to-img.test.ts
  site/tests/landing-page.test.ts
  site/tests/table-column-toggle-menu.test.ts
  site/tsconfig.json
Labels: enhancement, site, ux

#233 Show non-compliant models by default
  matbench_discovery/enums.py
  matbench_discovery/metrics/geo_opt.py
  models/eSEN/eSEN-30m-mp.yml
  models/eSEN/eSEN-30m-oam.yml
  models/grace/grace-2l-mptrj.yml
  models/mattersim/mattersim-v1-5m.yml
  scripts/analyze_geo_opt.py
  site/src/figs/metrics-table-uip-megnet-combos.svelte
  site/src/figs/metrics-table-uniq-protos-uip-megnet-combos.svelte
  site/src/lib/HeatmapTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/TableControls.svelte
  site/src/lib/html-to-img.ts
  site/src/lib/types.ts
  site/src/routes/+page.svelte
  site/tests/ContributePage.test.ts
  site/tests/DataPage.test.ts
  site/tests/DiatomicPage.test.ts
  site/tests/HeatmapTable.test.svelte.ts
  site/tests/LandingPage.test.ts
  site/tests/MetricsTable.test.svelte.ts
  site/tests/ModelCard.test.svelte.ts
  site/tests/ModelPage.test.ts
  site/tests/ModelsPage.test.ts
  site/tests/RadarChart.test.svelte.ts
  site/tests/TableColumnToggleMenu.test.ts
  site/tests/TableControls.test.svelte.ts
Labels: site, ux

#235 Fix `geo_opt` PBE symmetry analysis caching
  matbench_discovery/metrics/geo_opt.py
  models/alphanet/alphanet-mptrj.yml
  models/bowsr/bowsr.yml
  models/chgnet/chgnet-0.3.0.yml
  models/deepmd/dpa3-v1-mptrj.yml
  models/deepmd/dpa3-v1-openlam.yml
  models/deepmd/dpa3-v2-mptrj.yml
  models/deepmd/dpa3-v2-openlam.yml
  models/eSEN/eSEN-30m-mp.yml
  models/eSEN/eSEN-30m-oam.yml
  models/eqV2/eqV2-m-omat-salex-mp.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/grace/grace-1l-oam.yml
  models/grace/grace-2l-mptrj.yml
  models/grace/grace-2l-oam.yml
  models/m3gnet/m3gnet.yml
  models/mace/mace-mp-0.yml
  models/mace/mace-mpa-0.yml
  models/matris/matris-v050-mptrj.yml
  models/mattersim/mattersim-v1-5m.yml
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/sevennet-0.yml
  models/sevennet/sevennet-l3i5.yml
  models/sevennet/sevennet-mf-ompa.yml
  scripts/analyze_geo_opt.py
  site/src/lib/Footer.svelte
  site/src/lib/HeatmapTable.svelte
  tests/metrics/test_geo_opt_metrics.py
Labels: fix, geo opt

#237 `upload_data_files_to_figshare.py` add missing `figshare.publish_article()`
  scripts/upload_data_files_to_figshare.py
  scripts/upload_model_preds_to_figshare.py
  site/package.json
  site/src/figs/bar-element-counts-mp+wbm-normalized=False.svelte
  site/src/lib/MetricScatter.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/Nav.svelte
  site/src/lib/PtableHeatmap.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/data/+page.svelte
  site/src/routes/data/mptrj/MPtrjElemCountsPtable.svelte
  site/src/routes/data/tmi/+page.svelte
  site/src/routes/models/+page.svelte
  site/tests/ModelCard.test.svelte.ts
Labels: data, site, fix
