Repository janosh/matbench-discovery, pull requests merged in 2025-02, with the labels that each got.

#199 Record `kappa_103.pred_file` paths and URLs in model YAML files
  matbench_discovery/data.py
  matbench_discovery/metrics/phonons.py
  matbench_discovery/phonons/__init__.py
  matbench_discovery/phonons/thermal_conductivity.py
  models/chgnet/chgnet.yml
  models/deepmd/dpa3-v1-mptrj.yml
  models/deepmd/dpa3-v1-openlam.yml
  models/deepmd/join_dpa3_preds.py
  models/deepmd/readme.md
  models/deepmd/test_dpa3.py
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/gnome/gnome.yml
  models/grace/grace2l-r6.yml
  models/m3gnet/m3gnet.yml
  models/m3gnet/test_m3gnet_discovery.py
  models/mace/calc_kappa_mace_ray_parallelized.py
  models/mace/mace-mp-0.yml
  models/mace/mace-mpa-0.yml
  models/mattersim/mattersim-v1-5m.yml
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/sevennet-0.yml
  models/sevennet/sevennet-l3i5.yml
  scripts/metrics/eval_kappa_srme.py
  scripts/upload_model_preds_to_figshare.py
  site/src/figs/energy-parity/e-form-parity-mattersim-v1-5M.svelte
  site/src/figs/energy-parity/each-parity-mattersim-v1-5M.svelte
  site/src/figs/per-element-each-errors.json
  site/src/lib/MetricsTable.svelte
  site/src/lib/ModelCard.svelte
  site/src/lib/model-schema.d.ts
  site/src/routes/tasks/geo-opt/geo-opt-readme.md
  site/tests/model-card.test.ts
  tests/model-schema.yml
  tests/phonons/test_thermal_conductivity.py
  tests/test_data.py
  tests/test_models.py
Labels: data

#200 Plot F1 and K_SRME metrics over time on new `/tasks/(discovery|phonons)` pages
  .gitignore
  .pre-commit-config.yaml
  matbench_discovery/figshare.py
  matbench_discovery/phonons/thermal_conductivity.py
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/mace/calc_kappa_mace_ray_parallelized.py
  site/package.json
  site/src/lib/MetricScatter.svelte
  site/src/lib/ScatterPlot.svelte
  site/src/lib/TableColumnToggleMenu.svelte
  site/src/lib/index.ts
  site/src/lib/types.ts
  site/src/routes/+page.svelte
  site/src/routes/tasks/discovery/+page.svelte
  site/src/routes/tasks/phonons/+page.svelte
  tests/phonons/test_thermal_conductivity.py
Labels: analysis, site, viz

#202 GRACE-1L/2L-OAM models
  contributing.md
  matbench_discovery/data-files.yml
  matbench_discovery/data.py
  matbench_discovery/hpc.py
  matbench_discovery/metrics/geo_opt.py
  matbench_discovery/structure.py
  models/bowsr/bowsr.yml
  models/chgnet/chgnet.yml
  models/deepmd/dpa3-v1-mptrj.yml
  models/deepmd/dpa3-v1-openlam.yml
  models/eqV2/eqV2-m-omat-mp-salex.yml
  models/eqV2/eqV2-s-dens-mp.yml
  models/grace/grace-1L-oam.yml
  models/grace/grace-2L-mptrj.yml
  models/grace/grace-2L-oam.yml
  models/grace/join_grace_preds.py
  models/grace/run_eval_parallel.sh
  models/grace/test_grace_discovery.py
  models/m3gnet/m3gnet.yml
  models/mace/mace-mp-0.yml
  models/mace/mace-mpa-0.yml
  models/mattersim/mattersim-v1-5m.yml
  models/orb/join_orb_preds.py
  models/orb/orb-mptrj.yml
  models/orb/orb.yml
  models/sevennet/sevennet-0.yml
  models/sevennet/sevennet-l3i5.yml
  scripts/analyze_geo_opt.py
  site/package.json
  tests/model-schema.yml
  tests/test_data.py
  tests/test_hpc.py
  tests/test_structure.py
Labels: new model

#204 Update `job_name` and `out_dir` to match actual new `pred_file` locations in `test_<model>_discovery.py` scripts
  matbench_discovery/enums.py
  models/alignn/2023-06-02-alignn-wbm-IS2RE.csv.gz
  models/alignn/2023-06-03-mp-e-form-alignn-wbm-IS2RE.csv.gz
  models/alignn/alignn-config.json
  models/alignn/alignn-mp22/alignn-2023.01.10.patch
  models/alignn/alignn.yml
  models/alignn/readme.md
  models/alignn/test_alignn_discovery.py
  models/alignn/train_alignn.py
  models/alignn_ff/readme.md
  models/alignn_ff/test_alignn_ff_discovery.py
  models/bowsr/test_bowsr_discovery.py
  models/cgcnn/test_cgcnn_discovery.py
  models/cgcnn/train_cgcnn.py
  models/chgnet/analyze_chgnet.py
  models/chgnet/chgnet-0.3.0.yml
  models/chgnet/ctk_structure_viewer.py
  models/chgnet/test_chgnet_discovery.py
  models/deepmd/join_dpa3_preds.py
  models/deepmd/test_dpa3_discovery.py
  models/eqV2/test_fairchem_discovery.py
  models/grace/test_grace_discovery.py
  models/m3gnet/test_m3gnet_discovery.py
  models/mace/test_mace_discovery.py
  models/mace/test_mace_kappa.py
  models/mace/train_mace.py
  models/megnet/test_megnet_discovery.py
  models/orb/test_orb_discovery.py
  models/voronoi_rf/voronoi_featurize_dataset.py
  models/wrenformer/test_wrenformer_discovery.py
  models/wrenformer/train_wrenformer.py
  scripts/rolling_mae_vs_hull_dist.py
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/ScatterPlot.svelte
  site/tests/heatmap-table.test.ts
  site/tests/table-column-toggle-menu.test.ts
  tests/test_cli.py
  tests/test_enums.py
Labels: housekeeping

#205 Incremental work on task pages
  site/src/lib/GeoOptMetricsTable.svelte
  site/src/lib/MetricScatter.svelte
  site/src/lib/MetricsTable.svelte
  site/src/lib/metrics.ts
  site/src/routes/+page.svelte
  site/src/routes/tasks/discovery/+page.svelte
  site/src/routes/tasks/phonons/+page.svelte
  site/tests/metrics-table.test.ts
  tests/files/structures/A20BC14D8E5F2_oP800_61_40c_2c_28c_16c_10c_4c@C-Cd-H-N-O-S.POSCAR.xz
  tests/files/structures/AB3C_cP5_221_a_c_b@Ba-O-Ti.POSCAR.xz
  tests/structure/test_prototype.py
Labels: site

#207 New `metrics/diatomics` modules with energy + force metrics for diatomic potential curve analysis
  matbench_discovery/enums.py
  matbench_discovery/metrics/diatomics/__init__.py
  matbench_discovery/metrics/diatomics/energy.py
  matbench_discovery/metrics/diatomics/force.py
  tests/metrics/diatomics/test_diatomics_energy.py
  tests/metrics/diatomics/test_diatomics_force.py
  tests/metrics/diatomics/test_diatomics_init.py
Labels: enhancement, analysis

#208 Refactor `discovery.write_metrics_to_yaml` and `geo_opt.write_metrics_to_yaml` to use DRY `update_yaml_at_path`
  matbench_discovery/data.py
  matbench_discovery/metrics/discovery.py
  matbench_discovery/metrics/geo_opt.py
  matbench_discovery/preds/discovery.py
  models/grace/test_grace_discovery.py
  models/m3gnet/test_m3gnet_discovery.py
  models/mace/join_mace_preds.py
  scripts/analyze_geo_opt.py
  scripts/evals/discovery.py
  tests/metrics/test_discovery_metrics.py
  tests/metrics/test_geo_opt_metrics.py
  tests/test_data.py
Labels: housekeeping, refactor

#211 Diatomics task page
  matbench_discovery/data.py
  matbench_discovery/diatomics.py
  matbench_discovery/enums.py
  matbench_discovery/metrics/diatomics/__init__.py
  matbench_discovery/metrics/diatomics/energy.py
  matbench_discovery/metrics/diatomics/force.py
  matbench_discovery/modeling-tasks.yml
  matbench_discovery/remote/figshare.py
  models/grace/grace-1l-oam.yml
  models/grace/grace-2l-mptrj.yml
  models/grace/grace-2l-oam.yml
  models/mace/mace-mp-0.yml
  models/mace/mace-mpa-0.yml
  models/mattersim/mattersim-v1-5m.yml
  scripts/evals/diatomic_metrics.py
  site/src/figs/per-element-each-errors.json
  site/src/lib/DiatomicCurve.svelte
  site/src/lib/index.ts
  site/src/lib/model-schema.d.ts
  site/src/lib/types.ts
  site/src/routes/+layout.svelte
  site/src/routes/tasks/diatomics/+page.server.ts
  site/src/routes/tasks/diatomics/+page.svelte
  site/static/models
  site/tests/DiatomicCurve.test.ts
  site/tests/diatomic-page.test.ts
  site/tests/index.ts
  tests/conftest.py
  tests/metrics/diatomics/test_diatomics_energy.py
  tests/metrics/diatomics/test_diatomics_force.py
  tests/metrics/diatomics/test_diatomics_init.py
  tests/model-schema.yml
  tests/test_data.py
Labels: site
